<div class="row">
    <h1>Educación</h1>
    <hr>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>#Se programar Argentina Programa</h2> - <h3>(11/2021)</h3>
            </li>
            <p>
                Título: Fundamentos Básicos de la Programación.
            </p>

            <li>
                <h2>Universidad Experimental de Guayana</h2> - <h3>(2009)</h3>
            </li>
            <p>
                Título: Técnico Superior en Contaduría Pública.
            </p>
            <li>
                <h2>Colegio Nuestra Señora de Fatima</h2> - <h3>(2007)</h3>
            </li>
            <p>
                Título: Bachiller de La República Bolivariana de Venezuela (secundario completo)
            </p>
        </ul>
    </div>

</div>

