

<div class="row">
    <h1>Experiencia Laboral</h1>
    <hr>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Sg Vectes Srl.</h2> - <h3>(08/11/2021-Actualidad)</h3>
            </li>
            <p>
                Recepción, Control, Supervisión, Ingreso, Almacenamiento y Salida de Mercancía. Mejora y Manejo de procedimientos. Gestión y Manejo de Personal de trabajo. Manejo de inventario a través de sistema Gecom. Mejora y manejo de procedimientos. Gestión y manejo de Personal de trabajo. Manejo de inventario a través de sistema Gecom. Mejora de procesos · Aptitudes para la supervisión · Gestión de personas · Resolución de problemas · Administración logística
            </p>

            <li>
                <h2>Turbodiesel S.A</h2> - <h3>(04/2019 al 08/2020)</h3>
            </li>
            <p>
                Recepción, Control, Supervisión, Ingreso, Almacenamiento y Salida de Mercancía. Mejora y Manejo de procedimientos. Gestión y Manejo de Personal de trabajo. Manejo de inventario a través de sistema Sap Business One. Mejora y manejo de procedimientos. Gestión y manejo de Personal de trabajo. Manejo de inventario a través de sistema Gecom. Mejora de procesos · Aptitudes para la supervisión · Gestión de personas · Resolución de problemas · Administración logística
            </p>
            <li>
                <h2>Broker de Seguros</h2> - <h3>(2006 al 2018)</h3>
            </li>
            <p>
                Analista de Suscripción y Siniestros, responsabilidades administrativas en general.
            </p>
        </ul>
    </div>

</div>
