

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil 1.png" 
        class="img-fluid" 
        id="fotoperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Oscar A. Coronado</p>
        <h5>Full Stack Developer Jr.</h5>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí:</h2>
            <p>Hola, Bienvenidos a mi portafolio, mi nombre es Oscar A. Coronado tengo 32 años, soy Desarrollador Full Stacks Jr. y estudiante de Argentina Programa y quiero darle la bievneida a mi portafolio espero lo disfruten.</p>
        </span>
    </div>
</div>
