


<div class="row">
    <h1>Hard & Soft Skills</h1>
    <hr>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="75"
                    [radius]="100"
                    [imageSrc]="'../assets/html5.png'"
                    [showImage]="true"
                    [imageHeight]="80"
                    [imageWidth]="80"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#0e2ebd'"
                    [innerStrokeColor]="'#2b9348'"
                    [animation]="true"
                    [animationDuration]="400"
                ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="40"
                    [radius]="100"
                    [imageSrc]="'../assets/css.png'"
                    [showImage]="true"
                    [imageHeight]="80"
                    [imageWidth]="80"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#0e2ebd'"
                    [innerStrokeColor]="'#2b9348'"
                    [animation]="true"
                    [animationDuration]="400"
                ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="60"
                    [radius]="100"
                    [imageSrc]="'../assets/javascript.png'"
                    [showImage]="true"
                    [imageHeight]="80"
                    [imageWidth]="80"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#0e2ebd'"
                    [innerStrokeColor]="'#2b9348'"
                    [animation]="true"
                    [animationDuration]="400"
                ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="70"
                [radius]="100"
                [imageSrc]="'../assets/angular.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#0e2ebd'"
                [innerStrokeColor]="'#2b9348'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="50"
                [radius]="100"
                [imageSrc]="'../assets/github3.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#0e2ebd'"
                [innerStrokeColor]="'#2b9348'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="100"
                [radius]="100"
                [imageSrc]="'../assets/multitask.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#0e2ebd'"
                [innerStrokeColor]="'#2b9348'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/english.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#0e2ebd'"
                [innerStrokeColor]="'#2b9348'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../assets/office.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#0e2ebd'"
                [innerStrokeColor]="'#2b9348'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="100"
                [radius]="100"
                [imageSrc]="'../assets/workteam.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#0e2ebd'"
                [innerStrokeColor]="'#2b9348'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>

</div>


